# Virtual environment
venv/

# dbt
target/
dbt_packages/
logs/
.user.yml

# Python
__pycache__/
*.pyc
*.pyo
.env

# Sensitive
profiles.yml

# OS
.DS_Store
Thumbs.db

# Data files (too large for GitHub)
data/